{{ $lang := .Site.Language.Lang }}
{{ $d := index .Site.Data $lang "home" "header" }}

<div class="navbar-pages">
    <a class="navbar-items left" href="/">
        <img class="navbar-logo" src="/images/logo-white.png">
        <p class="navbar-title">CAN BON</p>
    </a>
    <div class="navbar-items right">
        {{ range .Translations }}
            <a class="lang-link" href="{{ .Permalink }}">{{ .Language.Label }}</a>
        {{ end }}<a href="/" class="navbar-link">Home</a>
        <a href="/about" class="navbar-link">About</a>
        <a href="/network" class="navbar-link">Network</a>
        <a href="/our-work" class="navbar-link">Our work</a>
    </div>
</div>