<div class="group-card">
    <div class="group-thumbnail"
        style='background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/{{ .image_name | default "default-bg.png" }})'>
        <!-- <img src="/images/{{ .image_name | default "default-bg.png" }}"> -->
        <p>{{ .title }}</p>
    </div>
    <p class="group-description">{{ .description }}</p>
    <div style="text-align: center;">
        <a class="button" href="{{ .button.link }}">{{ .button.text }}</a>
    </div>
</div>