
/* for the Geologica + Crimson Text fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Geologica:wght,CRSV@100..900,0&display=swap');

/* color variables */
:root {
    --grey: #222725; 
    --beige: #F9F3EB;
    --beige-75: #f9f3ebbf;
    --beige-50: #F9F3EB80;
    --bright-red: #df001e;
    --red: #B82F3D;
    --red-50: #d72b3c80;
    --dark-red: #931214;
    --darker-red: #760415;
    --blue: #1D3D64;
    --blue-50: #1D3D6480;
}

body {
    font-family: "Crimson Text", serif;
    color: var(--grey);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
  flex: 1;
}

p {
    line-height: 20pt;
    text-align: justify;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 200;
}

li {
    font-size: 18px;
    line-height: 20pt;
}

.main-content {
    max-width: 70%;
    margin: auto;
    padding-top: 32px;
}


p {
    font-size: 18px;
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Geologica", sans-serif;
    color: var(--red)
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

strong {
    font-weight: 700;
}

/* navigation bar for the pages (red) */
.navbar-pages, .navbar-home, .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10vw;
    z-index: 99;

    color: white;
    font-family: "Geologica", sans-serif;
}

.navbar-pages {
    background-color: var(--red);
    position: sticky;
    top: 0;
    box-shadow: 0 0 15px #00000060;
}

.hero-home {
    min-height: 324px;
    background-size: cover;
    background-position: 100% 100%;
    position: relative;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    /* testing stuff out */
    gap: 100px; 
}

.hero-title {
    font-size: 7vw;
    color: white;
    font-family: "Geologica", sans-serif;
    font-weight: 700;
    margin: 0;
    line-height: 10px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

.navbar-items.left {
    gap: 20px;
}

.navbar-logo {
    height: 48px;
}

.navbar-logo.home {
    position: absolute;
    height: 150px;
    bottom: 20%;
    left: 15%;
}

.navbar-title {
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 16px; */
}

.navbar-link {
    transition: all ease-in-out 0.2s;
}

.navbar-link:hover {
    transform: translateY(-2px);
}

.navbar-link:active, .navbar-link.active {
    font-weight: 500;
}

.lang-link { 
    border-radius: 8px;
    padding: 8px;
    width: 24px;
    text-align: center;
    border: 3px white solid;
    color: white;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
    text-transform: uppercase;
}

.lang-link:hover {
    background-color: var(--dark-red);
}

/* HOME PAGE */
.introduction-container {
    padding-bottom: 12px;
}

/* 30x30 initiative --> creating two columns */
.red-container {
    font-family: "Geologica", sans-serif;
    background-color: var(--red);
    padding: 24px 15%;

    h3 {
        color: white; 
        margin-top: 24px;
        text-align: center;
        font-size: 24px;
    }

    .logos-container {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        gap: 12px;
        /* background-color: #DB5260; */

        img {
            width: auto;
            height: 40px;
            /* filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25)); */
        }
        
        p {
            text-align: left;
            /* width: 25%; */
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.two-columns-red {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    margin-top: 24px;
}

.two-columns-red p {
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 175%;
}

.two-columns-red h3 {
    color: white;
}

.column {
    width: 50%;
}

.column.left {
    border: 2px solid white;
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
}

.column.right {
    padding: 12px;
}

/* about section */
.join-section-container {
    background-color: var(--beige);
    padding: 24px 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 30% 50%;
}

.join-section {
    width: 45%;
    margin-left: 15%;
    padding-bottom: 60px;

    .button-container {
        margin-top: 32px;
    }
}

.join-section.main-content {
    width: max-content;
}

/* button */
.button-container {
    text-align: center;
}

.button {
    display: inline-flex;
    padding: 10px 16px;
    color: var(--red);
    font-family: "Geologica", sans-serif;
    font-weight: 500;
    border: var(--red) 3px solid;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}

.button:hover {
    color: white;
    background-color: var(--red);
}

.button:active {
    background-color: var(--dark-red);
    border: var(--dark-red) 3px solid;
}

/* SHARED CSS FOR PAGES */
.page-title {
    font-size: 48px;
    margin-bottom: 0;
}

.section-title {
    margin-bottom: 24px;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 24px;
}

/* ABOUT PAGE */
.about-page-introduction {
    .column-left, .column-right {
        padding: 32px 0;
    }

    .column-left {
        width: 60%;
        align-items: center;
        justify-content: center;
    }

    .column-right {
        width: 50%;

        .video {
            width: 100%;
        }
    }

    .column-img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        width: 85%;
        border-radius: 25px;
        margin: auto;
    }

    .call-to-action {
        font-weight: 600;;
        font-family: "Geologica", sans-serif; 
        color:var(--red); 
        text-align: center;
    }
}

.subtitle {
    font-family: "Geologica", sans-serif;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 24px;;
}


.about-page-canadian-bon {
    
    background-color: var(--beige);

    .columns {
        align-items: center;
        padding-bottom: 40px;
        padding-top: 0;
    }

    .column-left {
        width: 33%;
    }

    .column-right {
        width: 66%;
    }

    .column-img {
        margin-top: 40px;
        width: 100%;
    }
}

.about-page-development-plan {
    color: white !important;
    font-family: "Geologica", sans-serif;

    p {
        font-size: 15px;
        font-weight: 200;
    }

    .container {
        height: 375px;
        background-color: var(--red);
        /* for parallax */
        background-attachment: fixed;
        background-position: top;
        background-size: contain;
    }

    .section-title {
        color: white;
    }

    .columns {
        margin-top: 40px;
        justify-content: space-between;
    }  

    .step {
        width: 25%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .step-icon {
        height: 40px;
        width: auto;
    }

    .step-name {
        font-size : 20px;
        font-weight: 600;
    }
}

/* OUR NETWORK */

.secretariat-cards, .logos-container, .cards-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
}

.network-page-secretariat {
    .main-content{ 
        padding: 12px 0;
    }

    .container {
        margin-top: 24px;
        padding-bottom: 24px;
        background-color: var(--beige);
    }

    .secretariat-card {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .avatar {
        aspect-ratio: 1/1;        
        object-fit: cover; 
        border-radius: 50%; 
        width: 144px;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .name {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .name, .position, .institution {
        text-align: center;
        margin: 0;
    }

    .institution {
        font-style: italic;
    }

    .university-logo {
        max-height: 75px;
        margin-top: 24px;
    }
}

.network-page-partners {
    .partner-logo {
        max-height: 75px;
        max-width: 224px;
    }

    .logos-container {
        align-items: center;
        justify-content: center;
        gap: 48px;
        margin: 24px 0;
    }
}

/* OUR WORK PAGE */

.view-more-container {
    display: flex;
    justify-content: end;
}

.view-more {
    font-family: "Geologica", sans-serif;
    color: var(--red);
    font-weight: 600;
    font-size: 14px;
}

.our-work-page-working-groups {
    .container {
        margin-top: 24px;
        background-color: var(--beige);
        padding-bottom: 24px;
    }

    .main-content {
        padding: 12px;
    }

    .divider {
        margin-top: 24px;
        width: 8px;
        border-radius: 2px;
        background-color: var(--red);
    }

    .cards-container {
        padding-top: 24px;
        justify-content: left;
        row-gap: 48px;
        gap: 48px;
    }

    .group-card {
        width: 46%;
    }

    .group-thumbnail {
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        height: 152px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;

        p {
            color: white;
            font-weight: 600;
            font-family: "Geologica", sans-serif;
            font-size: 24px;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        }
    }

    .group-description {
        padding: 0 16px;
        margin-bottom: 16px;
    }
}

.our-work-page-data-tools {
    .container {
        background-attachment: fixed;
        background-position: 0% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-bottom: 24px;
    }
}

.our-work-page-resources, .resources-page-resources {
    color: white;
    
    p{
        font-family: "Geologica", sans-serif;
        font-size: 16px;
    }
    
    .container {
        background-color: var(--red);
    }

    .columns, .main-content{
        padding-bottom: 48px;
    }

    .section-title {
        color: white;
    }

    .view-more {
        color: white;
    }

    .column-title {
        font-size: 24px;
        font-weight: 600;
    }

    .resource-item {
        display: flex;
        /* align-items: center; */
        gap: 16px;
        padding: 12px 0;
        color: white;
        text-decoration: none;
        border-bottom: 3px solid #ED616F;

        p {
            margin: 0;
        }
    }

    .resource-item:last-child {
        border-bottom: none;
    }

    .resource-icon {
        width: auto;
        height: 24px;
    }
}

.resources-page-resources {
    .column-title {
        color: var(--red);
    }
}

/* 
these are rendered in two different pages 
 - .products-page-data-tools
 - .our-work-page-data-tools 
*/

.cards-container {
    padding-top: 24px;
    justify-content: left;
    row-gap: 48px;
    justify-content: space-between;
    margin-bottom: 36px;
}

.data-tool-card {
    border-radius: 15px;
    border: 3px solid var(--red);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    height: fit-content;
    box-shadow: 0 4px 4px #00000030;
    background-color: white;
    backdrop-filter: blur(3px);

    transition: all ease-in-out 0.3s;
}

.data-tool-card:hover {
    transform: translateY(-6px);
    border-color: var(--bright-red);
    box-shadow: 0 4px 4px #00000080;
}

.data-tool-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    object-fit: cover;   
    border-radius: 12px;
    object-position: top right;
}

.data-tool-name {
    padding: 12px;
    text-align: center;
    font-family: "Geologica", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: var(--red);
    margin: auto;
}

.resources-page-resources {
    p {
        color: var(--grey);
    }

    .resource-item {
        border-bottom: 3px solid var(--red-50);
    }
}

.footer {
    /* background-color: var(--blue); */
    /* font-family: "Crimson Text", serif; */
    background-color: var(--grey);
    color: white;
    font-family: "Geologica", sans-serif;
    color: var(--beige);
    padding: 0 10vw;
    min-height: 128px;
    align-items: center;

    p {
        font-size: 14px;
    }

    .lang-link {
        color: var(--beige);
        border-color: var(--beige);
        font-size: 14px;
    }

    .footer-logo {
        height: 48px;
    }
}

.error-404 {

    p {
        font-family: "Geologica", sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: 200;
    }

    h1 {
        text-align: center;
        font-size: 72px;
        margin-bottom: 12px;
    }

    .button {
        font-size: 18px;
        margin-top: 40px;
    }
}


/* for tablets only*/
@media (min-width:481px) and (max-width:1024px) {
    .main-content {
        max-width: 86vw !important;
    }

    /* HOME PAGE */

    .navbar-logo.home {
        height: 128px;
        left: 5vw;
        top: 75px;
    }

    .two-columns-red {
        padding: 24px 7vw;

        .column.right {
            padding: 0;
        }
    }

    .join-section {
        width: 70%;
        margin-left: 5vw;
    }

    .join-section-container {
        padding: 0;
        background-size : 512px;
        background-position: 170% -20%;
    }

    .navbar-pages, .navbar-home, .footer {
        padding: 24px 5vw;
    }

    .navbar-items.left {
        gap: 8px;
    }

    /* ABOUT PAGE */
    .about-page-introduction, .about-page-introduction, .about-page-canadian-bon{
        .columns {
            gap: 32px;
        }
    }

    .about-page-introduction {
        .column-img {
            aspect-ratio: 4 / 5;
            object-position: 80% top; 
            width: 100%;
        }
    }

    .about-page-what-is {
        .column-img {
            aspect-ratio: 5 / 6;
            object-position: center top; 
            width: 100%;
        }
    }

    .about-page-canadian-bon {

        .columns {
            flex-direction: column;
        }

        .column-left {
            width: 60%;
            order: 2;
        }

        .column-img {
            margin: 0;
        }

        .column-right {
            width: 100%;
            order: 1;
        }
    }

    .about-page-development-plan {
        .container {
            background-size: 1536px;
        }
    }
}


/* for phones only */
@media (max-width: 480px) {
    .main-content {
        max-width: 90vw !important;
    }

    a {
        font-size: 15px;
    }
    
    h1 {
        font-size : 36px !important;
    }

    h2 {
        font-size: 28px !important;
    }

    .lang-link {
        padding: 6px;
        width: 20px;
    }
    
    /* HOME PAGE */

    .navbar-home, .navbar-pages {
        justify-content: space-between;
        padding: 24px 5vw;
    }
    
    .navbar-items {
        flex-wrap: wrap;
        gap: 20px;
    }

    .hero-home {
        .navbar-items.left {
            display: none;
        }
    }

    .navbar-items.right {
        justify-content: space-around;
    }

    .navbar-logo.home {
        height: 128px;
        left: 5vw;
    }
    
    .hero-home {
        min-height: 50vh;
        background-position: 30% 0;
    }

    .two-columns-red {
        flex-direction: column;
        gap: 0;
        padding: 20px 5vw;
    }

    .column {
        width: 100%;
    }

    .column.left, .column.right {
        padding: 0;
    }

    .column.left {
        h2, p {
            padding: 0 12px;
        }
    }

    .join-section.main-content {
        width: 94vw;
        margin: auto;
    }

    .join-section-container {
        background-size: 500px;
        background-position: 32vw -20vh;
        padding: 0;
    }
    
    .columns {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* ABOUT PAGE */
    .about-page-introduction {
        .column-img {
            width: 90vw;
        }
    }

    .about-page-introduction, .about-page-what-is {
        .columns {
            gap: 24px;
            align-items: center;
        }

        .column-left, .column-right {
            width: 100%;
        }

        .column-img {
            width: 90vw;
            margin: auto;
        }
    }

    .about-page-canadian-bon {

        h2 {
            margin: 0;
        }

        .columns {
            flex-direction: column;
            gap: 0px;
            align-items: center;
        }

        .column-left, .column-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .column-left {
            order: 2;
        }

        .column-right {
            order: 1;
        }

        .column-img {
            margin-top: 18px;
        }
    }

    .about-page-development-plan {
        .container {
            height: auto;
            background-size: 1024px;
            padding-bottom: 32px;
        }

        .step {
            width: 40%;
        }

        .columns {
            margin-top: 0;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    /* NETWORK PAGE */
    .network-page-secretariat {
        .secretariat-card {
            width: 50%;
        }
    }

    .network-page-partners {
        .partner-logo {
            max-width: 70vw ;
        }
    }

    /* WORK PAGE */
    .our-work-page-working-groups {
        .group-card {
            width: 100%;
            gap: 60px;
        }
    }

    .our-work-page-data-tools {
        .container {
            background-size: 1024px;
            background-position: 10px;
        }
    }

    .data-tool-card {
        width: 100%;
    }

    .our-work-page-resources {
        .columns {
            gap: 24px;
        }
    }

    /* PRODUCTS PAGE */

    .products-page-data-tools {
        .data-tool-thumbnail {
            aspect-ratio: 3 / 2;
        }

        .data-tool-card {
            width: 45%;
        }
    }

    /* RESOURCES PAGE */
    .resources-page-resources {
        .columns {
            padding: 0;
            gap: 24px;
        }
    }

    /* FOOTER */

    .footer {
        .navbar-items.left {
            gap: 8px;
        }

        .footer-logo {
            height: 36px;
        }
    }


}