{{ $lang := .Site.Language.Lang }}
{{ $d := index .Site.Data $lang "home" "header" }}

<div class="hero-home">
    <a href="/"><img class="navbar-logo home" src="/images/logo-red.png"></a>
    <div class="navbar-home">
        <div class="navbar-items left">
            <a class="navbar-items left" style="visibility: hidden;" href="/">
                <img class="navbar-logo" src="/images/logo-white.png">
                <p class="navbar-title">{{ $d.canbon }}</p>
            </a>
        </div>
        <div class="hero-right">
            <div class="navbar-items right"> 
                {{ range .Translations }}
                    <a class="lang-link" href="{{ .Permalink }}">{{ .Language.Label }}</a>
                {{ end }}
                <a href="/" class="navbar-link">Home</a>
                <a href="/about" class="navbar-link">About</a>
                <a href="/network" class="navbar-link">Network</a>
                <a href="/our-work" class="navbar-link">Our work</a>
            </div>
        </div>
    </div>
</div>
