{{ $lang := .Site.Language.Lang }}
{{ $d := index .Site.Data $lang "network" "secretariat" }}

<div class="network-page-secretariat">
    <div class="container">
        <div class="main-content">
            <h2 class="section-title">{{ $d.title }}</h2>
            <div class="secretariat-cards">
                <!-- will loop through every member and display a card for each -->
                {{ range $d.members }} 
                    {{ partial "network/secretariat-card.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</div>